:root {
  --bg-color: #28282822;
  --bg-image: url('img/isolation-gruvbox.gif');
  --text-color: #ebdbb2;
  --bg-blur-radius: 1px;

  --glow-color: #b8bb26;
  --glow-color-hover: #b8bb26;
  --glow-size: clamp(300px, 45vw, 700px);
  --glow-opacity: 0.4;
  --glow-opacity-hovered: 0.9;

  --clock-size: 64px;
  --clock-subtitle-size: 40px;
  --clock-subtitle-small-size: 25px;

  --button-bg: #3c3836;
  --button-bg-toggled: #7c6f64;
  --button-border-color: #98971a;
  --button-border-color-toggled: #b8bb26;
  --button-bg-hover: #504945;
  --button-text-color: #ebdbb2;
  --button-text-color-toggled: #ebdbb2;
  --button-radius: 0.2em;
  --button-font-size: 25px;
  --button-border-thickness: 0.2px;

  --search-bg: #2828283c;
  --search-blur-radius: 100px;
  --search-border: #ebdbb2aa;
  --search-border-thickness: 2px;
  --search-border-radius: 3em;
  --search-font-size: 25px;

  --main-padding: 10px;
  --searchbar-padding: 2px;

  --transition-fast: 0.25s ease;
  --cursor-speed: 0.15s ease-out;

  --bookmarks-page-bg: #3c38365a;
  --bookmarks-padding: 15px;
  --bookmarks-radius: 2em;

  --link-font-size: 20px;
  --link-color: #98971a;
  --link-hover-color: #fabd2f;

  overscroll-behavior: none;
}

@font-face {
  font-family: "Main Font";
  src: url("fonts/gohu.woff2")
}

html {
  background: var(--bg-image) no-repeat center center fixed;
  background-size: cover;
}

* {
	font-family: "Main Font"
}

body {
  background: var(--bg-color);
  min-height: 100vh;
  color: var(--text-color);
  padding: 70px 0;
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

.backgroundBlur {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bg-image) repeat center center fixed;
  background-size: cover;
  filter: blur(var(--bg-blur-radius));
  z-index: -1;
  pointer-events: none;
}

.htmlRoot {
  width: 90%;
  margin: 0 auto;
}

.clock {
  margin-left: 30px;
  font-size: var(--clock-size);
  display:block;
}
.clockSubtitle {
  margin-left: 30px;
  font-size: var(--clock-subtitle-size);
  display: block;
}
.clockSubtitleSmall {
  margin-left: 30px;
  font-size: var(--clock-subtitle-small-size);
  display: block;
}


.cursorGlow {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
    width: var(--glow-size);
    height: var(--glow-size);
    background-image: radial-gradient(circle, var(--glow-color) 0%, rgba(1, 58, 251, 0) 60%);
    filter: blur(50px);
    opacity: var(--glow-opacity);
    transition:
      transform var(--cursor-speed),
      opacity var(--transition-fast);
}

.cursorGlow.elementHover {
  opacity: var(--glow-opacity-hovered);
  background-image: radial-gradient(circle, var(--glow-color-hover) 0%, rgba(1, 58, 251, 0) 60%);
}

/* Search Bar */
.searchBarBackground {
  background-color: var(--search-bg);
  border: var(--search-border-thickness) solid var(--search-border);
  border-radius: var(--search-border-radius);
  padding: var(--searchbar-padding);
  width: 100%;
  margin: 0 auto;       /* Centers the form horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  backdrop-filter: blur(var(--search-blur-radius));                 /* Blurs background behind */
  -webkit-backdrop-filter: blur(var(--search-blur-radius));         /* For Safari */
}

.searchBar {
  background-color: transparent;
  color: var(--text-color);
  width: 95%;
  outline: none;
  border: none;
  font-size: var(--search-font-size);
  margin-bottom: 10px;
}

.searchBarBackground > div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.6em;
}

/* Toggle Button */
.toggleButton {
  background: var(--button-bg);
  color: var(--button-text-color);
  font-size: var(--button-font-size);
  border-radius: var(--button-radius);
  border: var(--button-border-thickness) solid var(--button-border-color);
  transition: var(--transition-fast);
  cursor: pointer;
}

.toggleButton.active {
  background: var(--button-bg-toggled);
  color: var(--button-text-color-toggled);
  border: var(--button-border-thickness) solid var(--button-border-color-toggled);
}

/* Bookmarks  */
.bookmarksContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 0;
  gap: 10px;
}

.bookmarksPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--bookmarks-padding);
  box-sizing: border-box;
  background-color: var(--bookmarks-page-bg);
  border-radius: var(--bookmarks-radius);
}

.bookmarksPage > h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.bookmarksPage > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.bookmarksPage > ul > li {
  width: auto;
  margin-bottom: 0.5em;     /* Optional: space between links */
}

/* Links */
a {
  color: var(--link-color);
  font-size: var(--link-font-size);
}

a:link {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

a:visited {
  color: var(--link-color); /* Changed to use the same color as a:link */
}

a:hover {
  color: var(--link-hover-color);
  text-shadow: 0 0 5px var(--link-hover-color); /* Subtle glow on hover */
}
