:root {
  --bg-color: #282828;
  --text-color: #ebdbb2;

  --glow-color: #98971aaa;
  --glow-size: clamp(200px, 30vw, 400px);

  --clock-size: 64px;

  --button-bg: #3c3836;
  --button-bg-toggled: #7c6f64;
  --button-border-color: #98971a;
  --button-border-color-toggled: #b8bb26;
  --button-bg-hover: #504945;
  --button-text-color: #ebdbb2;
  --button-text-color-toggled: #ebdbb2;
  --button-radius: 0.2em;
  --button-font-size: 25px;
  --button-border-thickness: 0px;

  --search-bg: #2828283c;
  --search-blur-radius: 100px;
  --search-border: #ebdbb2aa;
  --search-border-thickness: 2px;
  --search-border-radius: 3em;
  --search-font-size: 25px;

  --main-padding: 10px;
  --searchbar-padding: 2px;

  --transition-fast: 0.25s ease;
  --cursor-speed: 0.1s ease-out;

  --bookmarks-page-bg: #2828285a;
  --bookmarks-padding: 15px;
  --bookmarks-radius: 2em;

  --link-font-size: 20px;
  --link-color: #98971a;

}

@font-face {
  font-family: "Departure Mono";
  src: url("fonts/departure-mono.woff2")
}

body {
  background: var(--bg-color);
  min-height: 100vh;
  color: var(--text-color);
  padding: 70px 0;
  margin: 0 auto;
  text-align: left;
  width: 90%;
  font-family: "Departure Mono"
}

.clock {
  margin-left: 30px;
  font-size: var(--clock-size);
}


.cursorGlow {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
    width: var(--glow-size);
    height: var(--glow-size);
    background-image: radial-gradient(circle, var(--glow-color) 0%, rgba(1, 58, 251, 0) 60%);
    filter: blur(100px);
    opacity: 0.8;
    transition: transform var(--cursor-speed);
}

/* Search Bar */
.searchBarBackground {
  background-color: var(--search-bg);
  border: var(--search-border-thickness) solid var(--search-border);
  border-radius: var(--search-border-radius);
  padding: var(--searchbar-padding);
  width: 100%;
  margin: 0 auto;       /* Centers the form horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  backdrop-filter: blur(var(--search-blur-radius));                 /* Blurs background behind */
  -webkit-backdrop-filter: blur(var(--search-blur-radius));         /* For Safari */
}

.searchBar {
  background-color: transparent;
  color: var(--text-color);
  width: 98%;
  outline: none;
  border: none;
  font-size: var(--search-font-size);
  margin-bottom: 10px;
}

.searchBarBackground > div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.6em;
}

/* Toggle Button */
.toggleButton {
  background: var(--button-bg);
  color: var(--button-text-color);
  font-size: var(--button-font-size);
  border-radius: var(--button-radius);
  border: var(--button-border-thickness) solid var(--button-border-color);
  transition: var(--transition-fast);
  cursor: pointer;
}

.toggleButton.active {
  background: var(--button-bg-toggled);
  color: var(--button-text-color-toggled);
  border: var(--button-border-thickness) solid var(--button-border-color-toggled);
}

/* Bookmarks  */
.bookmarksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 0;
  gap: 10px;
}

.bookmarksPage {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: var(--bookmarks-padding);
  box-sizing: border-box;
  background-color: var(--bookmarks-page-bg);
  border-radius: var(--bookmarks-radius);
}

.bookmarksPage > h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.bookmarksPage > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.bookmarksPage > ul > li {
  width: auto;
  margin-bottom: 0.5em;     /* Optional: space between links */
}

/* Links */
a {
  color: var(--link-color);
  font-size: var(--link-font-size);
}
