:root {
  --bg-color: #0d0d14;
  --text-color: #ebdbb2;

  --clock-size: 64px;

  --button-bg: #0d0d14;
  --button-bg-toggled: #ac3232;
  --button-border-color: #ebdbb2;
  --button-border-color-toggled: #ac3232;
  --button-bg-hover: #ac3232;
  --button-text-color: #ebdbb2;
  --button-text-color-toggled: #0d0d14;
  --button-radius: 0.2em;
  --button-font-size: 25px;
  --button-border-thickness: 1px;

  --search-bg: #0d0d14;
  --search-border: #ebdbb2;
  --search-border-thickness: 2px;
  --search-border-radius: 3em;
  --search-font-size: 25px;

  --main-padding: 10px;
  --searchbar-padding: 2px;

  --transition-fast: 0.25s ease;

}

body {
  background: var(--bg-color);
  min-height: 100vh;
  color: var(--text-color);
  padding: 70px 0;
  margin: 0 auto;
  text-align: left;
  width: 90%;
}

.clock {
  margin-left: 30px;
  font-size: var(--clock-size);
}

.searchBarBackground {
  background-color: var(--search-bg);
  border: var(--search-border-thickness) solid var(--search-border);
  border-radius: var(--search-border-radius);
  padding: var(--searchbar-padding);
  width: 100%;
  margin: 0 auto;       /* Centers the form horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.searchBar {
  background-color: transparent;
  color: var(--text-color);
  width: 98%;
  outline: none;
  border: none;
  font-size: var(--search-font-size);
  margin-bottom: 10px;
}

.searchBarBackground > div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.6em;
}

.toggleButton {
  background: var(--button-bg);
  color: var(--button-text-color);
  font-size: var(--button-font-size);
  border-radius: var(--button-radius);
  border: var(--button-border-thickness) solid var(--button-border-color);
  transition: var(--transition-fast);
  cursor: pointer;
}

.toggleButton.active {
  background: var(--button-bg-toggled);
  color: var(--button-text-color-toggled);
  border: var(--button-border-thickness) solid var(--button-border-color-toggled);
}
